@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* Boxicons */
@font-face {
  font-family: boxicons;
  src: url("../fonts/boxicons/boxicons.ttf");
}


@font-face {
  font-family: LEMONMILK;
  src: url("../fonts/LEMONMILK-Light.otf");
}

/* Root Styling */
:root {
  --c1: #403633;
  --f1: 'Poppins';
  --f2: 'LEMONMILK';
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a:hover {
  color: #000;
}

/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: var(--c1);
  color: #fff;
}

a {
  display: inline-block;
  color: #000;
  transition: all 300ms ease-in-out;
}

ul,
ol,
dl {
  margin-bottom: 0;
  padding: 0;
}

p,
a,
button,
input,
li,
span {
  font-family: var(--f1);
}

.imgFluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

i.bx {
  font-family: boxicons;
  vertical-align: middle;
}

.padd-y {
  padding: 5rem 0;
}

.mar-y {
  margin: 5rem 0;
}

/* themebtn */

/* btn1 */

.themebtn {
  background: #000000;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 34px;
  border: 2px solid transparent;
  position: relative;
  font-family: var(--f1);
  z-index: 11;
  font-weight: 300;
}

.themebtn--center {
  margin: 1rem auto;
}

.themebtn--full {
  width: 100%;
}

.themebtn:hover {
  color: #000;
  border-color: #000;
}


.themebtn::after {}

.themebtn:hover::after {
  height: 100%;
}

.themebtn::before {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s all;
  background: #fff;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.themebtn:hover::before {
  width: 100%;
}

/* btn1 */


/* btn2 */

.themebtn2 {
  background: var(--c1);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  padding: 7px 34px;
  border: 2px solid transparent;
  position: relative;
  font-family: var(--f1);
  z-index: 11;
}

.themebtn2--center {
  margin: 1rem auto;
}

.themebtn2--full {
  width: 100%;
}

.themebtn2:hover {
  color: #ffffff;
  border-color: #ffffff;
}


.themebtn2::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  /* border-bottom-right-radius: 100%; */
  /* border-bottom-left-radius: 100%; */
  background: linear-gradient(3deg, #e50000, transparent);
  transition: 500ms all;
  z-index: -1;
}

.themebtn2:hover::after {
  height: 100%;
}

.themebtn2::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: 1s all;
  background: #ff0000;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.themebtn2:hover::before {
  height: 100%;
}

/* btn2 */

/* header css start */

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0px 0;
}

a.header__logo img {
  width: 212px;
  height: auto;
  object-fit: contain;
}

ul.header-main__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

ul.header-main__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

header.header {
  padding: 0;
}

ul.header-main__nav li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: all 500ms;
}

ul.header-main__nav li a:hover::after {
  width: 100%;
}

/* header css end */


/* baner css start */

section.home_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  min-height: 76vh;
}

.banner_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_cont {
  position: relative;
  color: #000;
  text-align: center;
  left: -77px;
  bottom: 25px;
}

.banner_cont h6 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: var(--f1);
}

.banner_cont h3 {
  font-size: 44px;
  font-family: var(--f2);
  text-transform: uppercase;
  margin: 10px 0px;
  font-weight: 600;
}

.banner_cont p {
  font-size: 14px;
  font-family: var(--f1);
}

/* =================================== css start =================================== */


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  display: flex;
  gap: 20px;
}

.address a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  color: #fff;
  font-family: var(--f1);
  font-weight: 200;
  font-size: 12px;
  text-transform: uppercase;
}

.address a i {
  font-size: 22px;
}

.languages select {
  border: none;
  font-size: 14px;
  padding: 3px 11px;
  background: transparent;
  color: #fff;
  font-family: var(--f1);
  font-weight: 200;
  outline: 0;
}

.header_top {
  padding: 8px 0px;
  background: black;
}

.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 100%;
}

.shoping_cart a {
  position: relative;
  font-size: 23px;
}

.shoping_cart a span {
  position: absolute;
  top: 8px;
  right: -2px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #000;
  color: #fff;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoping_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

ul.header-main__nav li a {
  font-size: 15px;
  font-family: var(--f1);
  font-weight: 400;
  text-transform: capitalize;
  position: relative;
}

.languages select option {
  color: #000;
}

.shoping_cart a:hover {
  transform: translateY(-5px);
}

.banner_cont h5 {
  font-size: 31px;
  font-family: var(--f2);
  font-weight: 600;
  margin-bottom: 23px;
}

.product_section {
  padding: 70px 0px;
}

.section_cont h3 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: var(--f2);
  font-weight: 600;
}

.section_cont p {
  font-size: 14px;
  font-weight: 400;
}

.section_title a {
  padding: 9px 50px;
}

.section_cont {
  padding-right: 53px;
}

.pro_img {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.pro_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pro_cont {
  padding: 13px 0px;
}


.arrivals_btn {
  font-size: 14px;
  font-family: var(--f2);
  font-weight: 100;
  /* margin-bottom: 15px; */
  height: 57px;
  color: #444444;
}

.pro_cont p {
  font-size: 14px;
  font-family: var(--f2);
  font-weight: 600;
  color: #444;
}

.pro_cont .themebtn {
  width: 100%;
  padding: 10px;
}

.all-in-one-img {
  width: 100%;
  height: 288px;
  overflow: hidden;
}

.all-in-one-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all-in-one-cont {
  background: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 101px;
}

.cont_main {
  text-align: center;
  color: #fff;
}

.cont_main h4 {
  font-size: 16px;
  font-family: var(--f2);
  font-weight: 200;
  line-height: 31px;
  margin-bottom: 20px;
}

.cont_main p {
  font-size: 11px;
  font-weight: 200;
  line-height: 23px;
}

.cont_main .themebtn {
  background: #fff;
  color: #000;
}

.cont_main .themebtn::before {
  background: #000;
}

.cont_main .themebtn:hover {
  color: #fff;
  border-color: #fff;
}

.coll_img {
  width: 100%;
  height: 296px;
  overflow: hidden;
  margin-bottom: 25px;
}

.coll_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coll_img2 {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.coll_img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.collection_section {
  padding: 70px 0px;
}

.all-in-one {
  padding: 40px 0px 0;
}

.insta_main {
  display: flex;
  flex-wrap: wrap;
}

.insta_img {
  overflow: hidden;
  position: relative;
}

.insta_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.instagram_section .row .col-lg-3:nth-child(1) .insta_img {
  transform: translate(56px, 164px);
}

.instagram_section .row .col-lg-3:nth-child(2) .insta_img {
  transform: translate(3rem, 3rem);
  width: 279px;
}

.instagram_section .row .col-lg-3:nth-child(2) .insta_img.alt {
  width: 76%;
  transform: translate(51px, 30px);
}

.instagram_section .row .col-lg-3:nth-child(3) .insta_img {
  transform: translate(15px, -28px);
  width: 265px;
  height: 280px;
}

.instagram_section .row .col-lg-3:nth-child(3) .insta_img.alt {
  transform: translate(-31px, -47px);
  height: 312px;
  width: 311px;
}

.instagram_section .row .col-lg-3:nth-child(4) .insta_img {
  transform: translate(-34px, 75px);
}

.insta_img a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffff;
  font-size: 41px;
}

.insta_img:hover a {
  transform: translate(16px, -7px) scale(1.9);
}





/* ---------------zeeshan csss----------------- */

.footer {
  padding-top: 70px;
  background: #000000;
}

.foo_info {
  width: 100%;
}

.foo_info .image {
  width: 50%;
}

.foo_info .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.foo_info .contacts a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 200;
}

.foo_info .contacts {}

.foo_title {
  font-size: 16px;
  color: #fff;
  font-family: var(--f1);
  text-transform: uppercase;
}

.foo_list li a {
  font-size: 13px;
  font-family: var(--f1);
  color: #fff;
  margin-bottom: 14px;
}

.social_icon {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.social_icon li a {
  color: #fff;
  font-size: 26px;
}

.foo_text {
  font-size: 14px;
  color: #fff;
  font-family: var(--f1);
  margin: 20px 0;
  font-weight: 200;
}

.newsletter_form {
  display: flex;
  align-items: center;
  gap: 3px;
}

.newsletter_form input {
  padding: 10px 15px;
  font-size: 14px;
  font-family: var(--f1);
  border: 0;
}

.newsletter_form input:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border: 0;
}

.newsletter_form input::placeholder {
  font-size: 12px;
  font-family: var(--f1);
}

.copywrite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 17px;
}

.copywrite .text {
  font-size: 14px;
  font-family: var(--f1);
  color: #fff;
  margin: 0;
}

.copywrite .image {
  width: 27%;
}

.copywrite .image img {

  width: 100%;
  height: 100%;
  object-fit: contain;
}

.FreeShipping {
  padding: 49px 0;
  border-top: 2px solid;
}

.FreeShipping_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FreeShipping_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FreeShipping_main__items .image {
  width: 68px;
}

.FreeShipping_main__items .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.FreeShipping_main__items {
  display: flex;
  align-items: self-start;
  gap: 18px;
  width: 25%;
}

.FreeShipping_main__items .title h3 {
  font-size: 20px;
  font-family: var(--f2);
  font-weight: 600;
  margin-bottom: 16px;
}

.FreeShipping_main__items .title span {
  display: block;
}



.simple {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 70vh;
  align-items: center;
  position: relative;
  /* margin: 40px 0px; */
}

.simple_overlay {
  width: 100%;
  height: 100%;
  inset: 0;
  isolation: isolate;
  position: absolute;
  z-index: -1;
}

.simple_overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.simple_main {
  text-align: center;
}

.simple_main .title {
  font-size: 32px;
  font-family: var(--f2);
  font-weight: 600;
  width: 76%;
  margin: 0 auto;
}

.simple_main .text {
  font-size: 14px;
  font-family: var(--f1);
  margin: 20px 0;
  padding: 0px 10px;
}


.warm {
  padding: 70px 0 0;
}

.warm_main__items .image {
  width: 100%;
  height: 70vh;
}

.warm_main__items .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.warm_main__items {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.warm_main__items .content {
  background: #0009;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  opacity: 0;
  visibility: hidden;
  transition: 500ms all;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(100%);
}

.warm_main__items .content .title {
  font-size: 50px;
  font-family: var(--f2);
  color: #fff;
  font-weight: 700;
  position: relative;
}

.warm_main__items .content .subtitle {
  font-size: 32px;
  font-family: var(--f2);
  margin: 20px 0;
  color: #fff;
  font-weight: 600;
}

.warm_main__items .content .text {
  font-size: 14px;
  font-family: var(--f1);
  margin-bottom: 13px;
  color: #fff;
  line-height: 30px;
}

.warm_main__items:hover .content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.warm_btn .themebtn {
  background: #fff;
  color: #000;
  margin-top: 20px;
}

.warm .row .col-md-4 {
  padding: 0;
}

.warm_main__items .content .title:before {
  position: absolute;
  content: '';
  width: 60%;
  height: 6px;
  background-image: url(../images/warm_before_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: -65px;
  transform: translate(-50%, -50%);
}

.warm_main__items .content .title:after {
  position: absolute;
  content: '';
  width: 60%;
  height: 6px;
  background-image: url(../images/warm_before_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  right: -110px;
  transform: translate(-50%, -50%);
  transform: rotate(180deg);
}

.insta_heading {
  padding-left: 4rem;
  position: relative;
  top: 4rem;
  width: 47%;
}

.insta_heading p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 6px;
}

.insta_heading h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--f2);
}

.insta_heading a {
  position: relative;
  top: 2rem;
  padding: 16px 63px;
  font-size: 14px;
}

.warm_btn .themebtn::before {
  background: #000;
}

.warm_btn .themebtn:hover {
  color: #fff;
  border-color: #fff;
}

.instagram_section {
  padding-bottom: 90px;
}

.coll_cont h3 {
  font-size: 27px;
  font-family: var(--f2);
  font-weight: 600;
}

.coll_cont p {
  font-size: 14px;
  font-weight: 400;
  padding-right: 53px;
}

form.newsletter_form button {
  background: #fff;
  color: #000;
  font-weight: 400;
}

form.newsletter_form button::before {
  background: #000;
}

form.newsletter_form button:hover {
  color: #fff;
  border-color: #fff;
}


.coll_img_about {
  width: 100%;
  height: 95%;
  overflow: hidden;
}

.coll_img_about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coll_cont.alt p {
  padding: 0;
  font-weight: 500;
  margin-bottom: 29px;
}

.coll_cont.alt h3 {
  margin-bottom: 25px;
}

section.inner_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 57vh;
  position: relative;
}

.inner_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner_cont h3 {
  font-size: 46px;
  font-family: var(--f2);
  font-weight: 600;
  text-shadow: 0px 0px 18px white;
}

.inner_cont {
  position: relative;
}



/* product page css  */

/* rang slider css */

.range-slider {
  width: 80%;
  text-align: center;
  position: relative;
  height: 3em;
}

.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}

input[type=number] {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.6em;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {
  border: 2px solid #000;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}

input[type=range]:focus::-ms-fill-lower {
  background: #000;
}

input[type=range]:focus::-ms-fill-upper {
  background: #000;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #000;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #000;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #000;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #000;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #000;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

/* rang slider end */


.pro_filter_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.pro_filter_slider h3 {
  font-size: 28px;
  font-weight: 600;
}

.pro_filter_slider a {
  font-size: 32px;
}

.pro_filter_slider a:hover {
  color: #fff;
}

button.accordion {
  background: transparent;
}

.accordion-button {
  background: transparent !important;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  font-family: var(--f1);
  text-transform: capitalize;
  font-weight: 500;
  padding: 13px 0px;
}

.accordion-item {
  background: transparent;
  border: none;
}

button.accordion:focus {
  box-shadow: none !important;
  outline: 0;
}

.accordion-button:focus {
  box-shadow: none;
  outline: 0;
}

.accordion-button:not(.collapsed) {
  color: var(--c1);
}

.accordion-button:not(.collapsed)::after {
  filter: hue-rotate(212deg);
}

.pro_items {
  margin-top: 20px;
}

section.product_page {
  padding: 70px 0px;
}

.product_category h3 {
  font-size: 25px;
  font-family: var(--f1);
  font-weight: 600;
  margin-bottom: 20px;
}

.accordion-body a {
  display: block;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--f1);
}

.pro_accordions {
  padding-right: 48px;
}

/* product page css  */

.product2 {
  padding: 70px 0px;
}

.pro_img.alt {
  height: 328px;
}

.pro_cont.alt .arrivals_btn {
  font-size: 13px;
  height: 57px;
}



.product_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 48px;
}

.product_category a {
  font-size: 30px;
}

.product_top_btn ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_top_btn a {
  padding: 6px 20px;
  border: 1px solid #000;
  font-weight: 400;
}

.product_top_btn a:hover {
  color: #fff;
  background: #000;
}

.product_top_btn {
  margin-bottom: 2rem;
}

section.product_detail_section {
  padding: 70px 0px;
}

a.detail_main_items {
  width: 100%;
  height: 451px;
  overflow: hidden;
  margin: 0 10px;
}

a.detail_main_items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pro_main_slider {
  border: 1px solid;
  padding: 42px 0px;
  width: 80%;
  margin: 0 auto;
}

a.pro_sub_items {
  height: 100px;
  overflow: hidden;
  padding: 16px;
  margin: 0px 10px;
  border: 1px solid;
}

a.pro_sub_items img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pro_sub_slider {
  width: 80%;
  margin: 0 auto;
}

button.slick-arrow {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  color: #fff;
  font-family: boxicons !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.slick-next.slick-arrow {
  right: 6%;
}

button.slick-next.slick-arrow::before {
  color: #000;
  content: "\ea50";
  font-size: 50px;
}

button.slick-prev.slick-arrow {
  left: 6%;
}

button.slick-prev.slick-arrow::before {

  content: "\ea4d";
  color: #000;
  font-size: 50px;
}

.detail_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail_title h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--f2);
  margin: 0;
}

.detail_title {
  margin-bottom: 12px;
}

.detail_cont p {
  font-size: 14px;
  font-weight: 300;
}

ul.reviews {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #ffc107;
}

ul.reviews li b {
  color: #000;
  font-weight: 400;
}

ul.reviews li span {
  color: #616161;
  font-size: 13px;
}

ul.reviews {
  padding-bottom: 12px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 13px;
}

ul.pro_details li {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  list-style-type: disc;
}

ul.pro_details {
  padding-left: 18px;
}

ul.full_detail li {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  word-spacing: 4px;
}

ul.full_detail {
  margin: 18px 0px;
}

.quantity_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68%;
  gap: 13px;
  margin: 15px 0px;
}

.q_input {
  width: 31%;
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 5px 10px;
}

.q_input input {
  width: 100%;
  background: transparent;
  border: none;
  outline: 0;
  text-align: center;
}

.q_input button {
  background: transparent;
  border: none;
  outline: 0;
  font-size: 17px;
  font-weight: 800;
  font-family: var(--f1);
}

.quantity_main a {
  width: 100%;
}


a.free-easy {
  text-align: center;
  text-decoration: underline !important;
}

h3.pro_title {
  width: 50%;
}

.free_shpping {
  text-align: center;
  width: 68%;
}

.find_product {
  text-align: center;
  margin: 23px 0px;
}

.find_product a {
  padding: 10px 23px;
  border: 1px solid;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: max-content;
  gap: 10px;
}

.find_product a i {
  font-size: 26px;
}

/* ============================== product-detail page css end ============================== */


section.detal_related_proi {
  padding-bottom: 70px;
}



/* ================================  cart page css start ================================  */
.cart_box p {
  font-size: 14px;
  margin: 10px 0px;
}

.price h5 {
  font-weight: 700;
  font-size: 15px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_heading h3 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 22px;
  text-align: center;
}

.cart_box {
  padding: 48px 23px;
  background: transparent;
  width: 86%;
  border: 1px solid #d0d0d0;
}

section.cart_product {
  padding: 70px 0px;
}


td.cart_img {
  width: 40%;
  text-align: left;
}

.cart_pro_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 53px;
}

.cart-icons input {
  border: none;
  width: 17%;
  text-align: center;
  outline: 0;
}

.cart-icons button {
  border: none;
  background: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.cart-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

tr.cart_data td p {
  color: black;
  font-size: 15px;
}

td.cart_img {
  width: 40%;
  text-align: left;
}

tr.cart_headings th h5 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 19px;
}

tr.cart_headings th {
  width: 20%;
}

.cart_table {
  height: auto;
  overflow: auto;
  margin-bottom: 20px;
}

.cart_pro_img h5 {
  padding-right: 30px;
  font-weight: 600;
  font-size: 15px;
}

.shop_btn a i {
  font-size: 23px;
}

.shop_btn a {
  margin-top: 31px;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  background: transparent;
  width: max-content;
}

.cart_btns input {
  width: 28%;
  padding: 9px 20px;
  border-radius: 50px;
  border: none;
  border: 1px solid gray;
  outline: 0;
}

.cart_btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.shop_btn a i {
  font-size: 23px;
}

.cart_btns a {
  font-weight: 200;
  background: #000000;
  border-radius: 50px;
}

.cart_btns a:hover {
  color: #000000;
  border-color: #000000;
}

tr.cart_data {
  height: 129px;
}

.cart_btn {
  text-align: -webkit-center;
}

.cart_pro_img img {
  width: 50px;
  height: auto;
}

/* ================================  cart page css end  ================================  */

/* ================================ check out page css start ================================ */

section.checkout_section {
  padding: 70px 0px;
}

.form_title {
  text-align: center;
}

.form_title h3 {
  font-size: 27px;
  font-family: var(--f2);
  font-weight: 600;
  margin-bottom: 20px;
}

.form_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.form_cards a img {
  width: 100%;
  height: auto;
}

.or {
  margin: 13px 0px;
  position: relative;
}

.or p {
  margin: 0;
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  z-index: 99;
  background: #fff;
  padding: 0px 0px;
}

.or::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -0%);
  z-index: -1;
}

.input_title h4 {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--f1);
  margin: 0;
  text-transform: capitalize;
}

.input_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.input_title p {
  margin: 6px 0px;
  font-size: 15px;
}

.input_fields input,
.input_fields select {
  width: 100%;
  height: 49px;
  padding: 12px;
  border: none;
  border: 1px solid #c6c6c6;
  margin-bottom: 19px;
  outline: 0;
}

.input_title.alt {
  display: block;
}

.credit_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c3c3c3;
  margin: 12px 0px;
  height: 49px;
  padding: 12px;
}

.input_label label {
  font-size: 15px;
  font-family: var(--f1);
  font-weight: 400;
  margin-bottom: 17px;
}


.input_checkbox {
  margin-bottom: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.input_checkbox input {
  accent-color: #000;
}

.credit_card input {
  accent-color: #000;
  text-transform: capitalize;
  cursor: pointer;
}

.radio_btn label {
  font-size: 15px;
  font-family: var(--f1);
  cursor: pointer;
}

.radio_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.input_checkbox label {
  text-transform: capitalize;
  font-family: var(--f1);
  font-weight: 400;
  font-size: 15px;
}

.input_fields select {
  text-transform: capitalize;
  font-family: var(--f1);
  font-size: 14px;
  padding: 0px 10px;
  color: gray;
}

.input_fields input::placeholder {
  text-transform: capitalize;
  font-size: 14px;
}

.form_button button {
  width: 100%;
  margin: 15px 0px;
  height: 49px;
}

.checkout_form_main {
  border-right: 1px solid #c8c8c8;
  padding-right: 22px;
}

.check_out_img img {
  width: 74px;
  height: auto;
  padding: 11px;
  border: 2px solid;
}

po {
  po: revert;
}

.check_out_img {
  position: relative;
}

.check_out_img span {
  position: absolute;
  top: -9px;
  right: -10px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.check_out_pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}

.check_out_pro h3 {
  font-size: 14px;
}

.checkout_products form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  animation: 1;
  margin: 13px 0px;
}

.checkout_products input {
  width: 100%;
  height: 49px;
  padding: 10px;
  border: none;
  border: 1px solid silver;
}

.total_pricing p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  font-size: 15px;
  text-transform: capitalize;
}

.total_pricing {
  margin-top: 16px;
}

.total_pricing p span {
  font-size: 24px;
  font-family: var(--f2);
}

.checkout_products form button {
  height: 48px;
}

.checkout_products form button {
  height: 48px;
}

.check_out_img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

.check_img {
  position: relative;
}

.check_out_pro h3 {
  font-size: 14px;
  font-family: var(--f2);
  font-weight: 600;
}

/* ================================ check out page css end ================================ */

/* ================================ login page css start ================================ */

section.login_section {
  padding: 70px 0px;
}

.login_form {
  text-align: center;
  box-shadow: 0px 0px 10px 3px #f0f0f0;
  padding: 5rem 4rem;
  margin-bottom: 4rem;
}

.form_heading h3 {
  font-size: 34px;
  font-family: var(--f2);
  font-weight: 700;
  margin-bottom: 2rem;
}

.login_field {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbcbcb;
  padding: 0px 17px;
  margin-bottom: 2rem;
}

.login_field input {
  background: transparent;
  border: none;
  outline: 0;
  width: 100%;
  height: 44px;
}

.login_field i {
  font-size: 22px;
  color: lightgrey;
}

.login_btn p {
  margin: 0;
  font-size: 15px;
}

.login_btn p a {
  font-weight: 600;
}


.login_btn button {
  margin: 13px 0px;
}

/* ================================ login page css end ================================ */

/* ================================ contact page css start ================================ */

.contact_img {
  width: 100%;
  height: 730px;
  overflow: hidden;
  padding: 23px;
}

.contact_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.contact_section {
  padding: 70px 0px;
}

.contact_fields input,
.contact_fields textarea {
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  border: none;
  border: 1px solid lightgrey;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 8px 4px #e3e3e3;
}

.contact_address p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  width: 33.33%;
  margin: 0;
}

.contact_address p i {
  font-size: 20px;
}

.contact_address {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_fields textarea {
  height: 300px;
  padding-top: 8px;
}

.contact_fields input::placeholder,
.contact_fields textarea::placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.contact_btn button {
  width: 100%;
  margin-bottom: 2rem;
}

.contact_cont h3 {
  font-size: 41px;
  font-family: var(--f2);
  font-weight: 600;
  margin-bottom: 2rem;
}


/* ================================ contact page css end ================================ */

.foo_info p {
  font-size: 15px;
  width: 70%;
  color: #fff;
  font-weight: 200;
  margin-bottom: 9px;
  margin-top: 2rem;
}

.main_logo {
  text-align: center;
  margin-bottom: 20px;
}

.pak_img {
  width: 28px;
  height: 18px;
}

a.pak_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.address select {
  background: transparent;
  color: #fff;
  font-family: var(--f1);
  font-weight: 100;
  font-size: 13px;
  border: none !important;
  cursor: pointer;
}

.languages {
  display: flex;
  align-items: center;
  gap: 10px;
}

.languages li a {
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-family: var(--f1);
  font-weight: 200;
}

.languages li a i {
  font-size: 24px;
  color: #b5b5b5;
}

.address a:hover {
  text-decoration: underline !important;
}

.pro_img img {
  object-position: top;
}

.pro_items:hover .arrivals_btn {
  text-decoration: underline !important;
}

.address select option {
  color: #000;
}

.cat_menu {
  position: absolute;
  width: 100%;
  z-index: 99;
  left: 0;
  background: #fff;
  padding: 40px 0;
  opacity: 0;
  visibility: hidden;
  transition: 500ms all;
}

.main_innerCatMenu {
  display: flex;
  justify-content: space-between;
}

.cata_innerMenu a {
  display: block;
}

.cata_left {
  display: flex;
  gap: 40px;
}

.cata_innerMenu a:after {
  display: none;
}

.cata_innerMenu a {
  font-size: 17px !important;
  font-weight: 600 !important;
  text-decoration: underline !important;
  margin: 0 0 10px 0;
  color: #444;
}

.cata_innerMenu ul li a {
  font-size: 14px !important;
  text-decoration: none !important;
  margin: 4px 0 !important;
  font-weight: 400 !important;
}

.cata_innerMenu ul {
  margin: 20px 0;
}

.cata_innerMenu ul li a:hover {
  text-decoration: underline !important;
}

.cata_innerMenu a:hover {
  color: #000;
}

.header-main__nav li:hover .cat_menu {
  opacity: 1;
  visibility: visible;
}

.makeup_img {
  width: 260px;
  height: 400px;
}

.makeup_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_head h3 {
  font-size: 50px;
}

.news_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 30px auto 0;
  border: 1px solid #000;
  background: #ffff;
}

.news_form input {
  width: 80%;
  background: transparent;
  border: none !important;
  padding: 0 17px;
  outline: none !important;
}

.news_letter {
  padding: 70px 0;
}

.news_head p {
  margin: 15px auto 0;
  font-family: var(--f1);
  width: 410px;
  font-size: 16px;
}

.product_section .row .col-md-3 {
  width: 20% !important;
}

.search_main {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  padding: 30px 90px;
  transform: translatey(-100%);
  transition: 500ms all;
}

.form_search {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid #000;
  padding-right: 12px;
}

.srh_head {
  text-align: center;
  font-size: 30px;
  font-family: var(--f1);
  font-weight: 700;
  margin-bottom: 30px;
}

.form_search input {
  width: 95%;
  border: none;
  padding: 10px;
  outline: none !important;
  font-size: 16px;
}

.srh_btn {
  font-size: 25px;
  border: none;
  background: transparent;
  color: #000;
}

.srh_cross {
  position: absolute;
  right: 100px;
  font-size: 50px;
  top: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: 500ms all;
}

.srh_cross:hover {
  background: #000;
  color: #fff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000b5;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: 500ms all;
}

.search_main.active {
  transform: translatey(0);
}

.overlay.active {
  opacity: 1;
  visibility: visible !important;
}

.cata_item {
  margin: 0 10px;
}

.cata_img {
  width: 100%;
  height: 196px;
  overflow: hidden;
  border-radius: 100%;
}

.cata_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 500ms all;
}

.cata_content {
  text-align: center;
  margin: 15px 0 0;
}

.cata_content p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
}

.cata_content span {
  font-size: 12px;
  color: #444444c7;
}

.cata_slider {
  margin: 50px 0 0;
}

.season_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec_head {
  font-size: 30px;
  font-family: 'LEMONMILK';
  font-weight: 600;
}

.sec_link {
  font-size: 16px;
}

.sec_link i {
  transform: rotate(-45deg);
  font-size: 25px;
}

.sec_link:hover {
  text-decoration: underline !important;
}

.season_cata {
  padding: 70px 0;
  background: #ffe4c43b;
}

.cata_slider .slick-arrow {
  top: 50%;
  transform: translatey(-50%);
  background: #fff;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 15px 1px #4444;
  transition: 500ms all;
}

.cata_slider .slick-next {
  border-radius: 100%;
}

.cata_slider .slick-prev {
  transform: translate(-290%, -50%);
  opacity: 0;
  visibility: hidden;
}

.cata_slider .slick-next {
  transform: translate(290%, -50%);
  opacity: 0;
  visibility: hidden;
}

.cata_slider:hover .slick-arrow {
  transform: translate(0, -50%);
  opacity: 1;
  visibility: visible;
}

.cata_crd:hover img {
  scale: 1.2;
}

.nav-tabs {
  justify-content: center;
  border: none !important;
  margin-bottom: 20px;
}

.nav-link.active {
  border: none !important;
  border-bottom: 2px solid #000 !important;
  color: #000;
  font-weight: 500;
}

.nav-link {
  border: none !important;
  border-bottom: 2px solid transparent !important;
  outline: none !important;
  color: #000 !important;
}

.cata_bot_item {
  font-size: 12px;
  margin: 0 0;
  text-align: center;
  color: #fff;
  padding: 0 30px;
  position: relative;
}
.cata_botSlider {
    background: #b327b3;
    padding: 18px 0;
}
.cata_bot_item:before {
    position: absolute;
    font-family: 'boxicons';
    content: "\ed91";
    left: 0;
    font-size: 11px;
    color: #fff;
}
.catagory_crd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  min-height: 480px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.catagories_con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  position: relative;
  top: 0;
  width: 80%;
}

.cata_goryImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  inset: 0;
  overflow: hidden;
}

.cata_goryImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 26% 131%;
  transition: 500ms all;
}
.catagory_top h4 {
  font-size: 31px;
  text-transform: capitalize;
}

.catagory_top p {
  font-size: 17px;
}

.cata_botLink {
  font-size: 16px;
  text-decoration: underline !important;
}

.cata_botLink i {
  transform: rotate(-45deg);
  font-size: 23px;
}
.catagory_crd:hover img {
    scale: 1.1;
}
.catagories_bottom {
  padding: 0 0 70px;
}