 @media all and (max-width: 1200px) and (min-width: 100px) {
    .sidebar a {
        font-size: 20px;
    }
    
    .sidebar ul li {
        margin-left: 22px;
        padding: 14px 14px;
    }
}
@media all and (max-width: 800px) and (min-width: 100px) {
    div#responsive-menu-btn1 {
        display:block;
    }
  
    .responsive-dashboard-main.active {
        left: 0;
    }
    .sidebar {
        display: none;
    }
    .logo-db img {
        width: 36%;
    }
    
    .db-login img {
        width: 9%;
    }
    .logo-rs-db img {
        width: 100%;
        padding-top: 20px;
    }
    
    .db-rs-login img {
        width: 31%;
        float: right;
    }
   
    section.dashboard1 {
        background: var(--clr3);
        display: block;
    }
    div#responsive-menu-btn1 {
        float: left;
    }
    
    .dashboard-main {
        display: none;
    }
    
    .logo-db {
        text-align: center;
       
    }
    section.dashborad {
        display: none;
    }
    section.dashboard-sidebar {
        padding-top: 0px;
    }
    .responsive-logo {display: flex;justify-content: center;}
    
   
}


@media all and (max-width: 500px) and (min-width: 100px) {

}
