* {
    margin: 0px;
    padding: 0px;
}

.pdy-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pdy-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pdy-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pdy-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pdy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pdy-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pdy-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.pdy-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pdy-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.pdy-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pdy-130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.pdt-10 {
    padding-top: 10px;
}

.pdt-20 {
    padding-top: 28px;
}

.pdt-30 {
    padding-top: 30px;
}

.pdt-40 {
    padding-top: 40px;
}

.pdt-50 {
    padding-top: 50px;
}

.pdt-60 {
    padding-top: 60px;
}

.pdt-70 {
    padding-top: 70px;
}

.pdt-80 {
    padding-top: 80px;
}

.pdt-90 {
    padding-top: 90px;
}

.pdt-100 {
    padding-top: 100px;
}

.pd-10 {
    padding-bottom: 10px;
}

.pd-20 {
    padding-bottom: 20px;
}

.pd-30 {
    padding-bottom: 30px;
}

.pd-40 {
    padding-bottom: 40px;
}

.pd-50 {
    padding-bottom: 50px;
}

.pd-60 {
    padding-bottom: 60px;
}

.pd-70 {
    padding-bottom: 70px;
}

.pd-80 {
    padding-bottom: 80px;
}

.pd-90 {
    padding-bottom: 90px;
}

.pd-100 {
    padding-bottom: 100px;
}


:root {
    --clr1: #000000;
    --clr2: #ffffff;
    --clr3: #0147fe;
    --clr4: #777777;
    --clr5: ;
    --clr6: ;
    --clr7: ;
    --clr8: ;
    --clr9: ;
    --clr10: ;
    --clr11: ;
    --clr12: ;
    --clr13: ;


}

body {
    font-family: 'Poppins', sans-serif;
}

a:hover {
    text-decoration: none;
    color: var(--clr2) !important;
}

.hover-eye{
    color: #69ff51 !important;
}

.page-item {
    color: #69ff51 !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #69ff51 !important;
    border-color: #69ff51 !important;
}

.page-link{
    color: #69ff51 !important;
}

/* dashboard work */
.logo-db img {
    width: 100%;
}


.dashboard-main {
    display: flex;
}

.dashboard-main img {
    width: 4%;
    height: 23px;
}

.dashboard-main h5 {
    font-size: 16px;
}


.db-login img {
    width: 17%;
}

section.dashborad {
    padding: 14px 12px;
    line-height: 1;
    position: fixed;
    box-shadow: 0px 5px 20px 0px rgb(53 58 66 / 10%);
    width: 100%;
    background: var(--clr2);
    z-index: 1020;
}

.sidebar {
    background: #69ff51;
    border-bottom-right-radius: 86px;
    border-top-right-radius: 86px;
    height: 100%;
}

.sidebar a {
    color: var(--clr2);
    font-size: 24px;
}

li {
    list-style: none;
}

.dashborad h6 {
    font-size: 24px;
}

/* .sidebar img {
    width: 6%;
} */
.sidebar ul li i {
    margin-right: 20px;
}

.visitweb {
    text-align: center;
    box-shadow: 0px 7px 19px 4px rgb(53 58 66 / 10%);
    border-radius: 16px;
    padding: 5px 5px;
}

.visitweb p {
    padding: 8px 0px;
}

.visitweb ul li a {
    color: var(--clr1);
}

.sidebar ul li {
    padding: 16px 41px;
    margin-left: 44px;
}

.visitweb:hover {
    background: #69ff51;
    color: var(--clr1);
}

.visitweb:hover a {
    color: var(--clr2);
}

.sidebar ul li i {
    color: var(--clr2);
    font-size: 20px;
}

.sidebar ul li:hover {
    background-color: var(--clr2);
    color: #69ff51;
    border-top-left-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
}

.sidebar ul li:hover i {
    color: #69ff51;
}

.sidebar ul li:hover a {
    color: #69ff51;
}

.dashboard-main {
    margin-left: 79px;
}

.logo-db img {
    padding-left: 40px;
}

.dashboard-main a {
    color: var(--clr1);
    padding-left: 12px;
}

.dashboard-main a {
    color: var(--clr1);
    padding-left: 12px;
}

.db-login img {
    float: left;
}

.db-login img {
    width: 16%;
}

.db-login h6 {
    padding-top: 8px;
}

.db-login h6 {
    margin: 0px;
}

.db-login a {
    color: #69ff51;
    padding-left: 10px;
}

.sidebar ul li.active {
    background: var(--clr2);
    border-top-left-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
}

.sidebar ul li.active a {
    color: #69ff51;
}

.sidebar ul li.active i {
    color: #69ff51;
}
.visitweb ul li i {
    font-size: 58px;
    padding-top: 10px;
    padding-bottom: 23px;
    color: #69ff51;
}

.visitweb:hover i {
    color: var(--clr2);
}
/* profile page */
.profile {
    /* padding: 36px 72px; */
    box-shadow: 0px 5px 20px 0px rgb(53 58 66 / 10%);
    border-radius: 30px;
    width: 78%;
}

.e-profile {
    text-align: center;
    line-height: 44px;
}


.contact-form1 input.form-control {
    padding: 14px 14px;
    margin-bottom: 19px;
    border-radius: 8px;
}

.update-info {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 41px;
}

.update-info a {
    padding: 9px 40px;
    border-radius: 10px;
    background: var(--clr3);
    color: var(--clr2);
}

.update-info button {
    padding: 9px 40px;
    border-radius: 10px;
    background: #69ff51;
    color: var(--clr2);
    border-color: #69ff51;
}

.contact-form1 label {
    font-weight: 500;
    padding-bottom: 24px;
    padding-top: 10px;
}

.e-profile p {
    color: var(--clr4);
    margin: 0px;
}

.e-profile h2 {
    font-size: 42px;
    margin: 0px;
    line-height: 57px;
}

.email-pass {
    display: grid;
    padding-top: 11px;
}

.email-pass p {
    padding-right: 70px;
    padding-top: 12px;
    padding-left: 21px;
}

.password {
    display: flex;
}

.password p {
    margin-left: 22px;
    margin-right: 35px;
    padding-top: 15px;
}

.p-change {
    display: flex;
}

.p-change p {
    margin-left: 22px;
    margin-right: 35px;
    padding-top: 15px;
}

.save-info {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 41px;
}

.logo-main{
    max-width: 250px !important;
    height: 50px !important;
}

.save-info a {
    padding: 13px 77px;
    border-radius: 10px;
    background: #69ff51;
    color: var(--clr2);
}

/*.promote-sec ul li {*/
/*    background-color: #69ff51 !important;*/
/*}*/
.save-info button {
    padding: 13px 77px;
    border-radius: 10px;
    background:  #69ff51;
    color: var(--clr2);
    border-color: #69ff51;
}

.contact-form2 label {
    padding-top: 20px;
    padding-bottom: 11px;
}

.contact-form2 form input.form-control {
    padding: 14px 14px;
}

.table-hover tbody tr:hover {
    background-color: #69ff51;
    color: var(--clr2);
    border-radius: 10px;

}

.table-order {
    border-collapse: separate;
    border-spacing: 0px 18px;
}


.table-order tr {
    border: unset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.table-order thead th {
    border: unset;
}

.table th,
.table td {
    border-top: unset;
}

tbody.order-list td a i {
    background:  #69ff51;
    padding: 6px 7px;
    color: var(--clr2);
}

.btn-index-eye{
    color: #69ff51 !important;
    background-color: #69ff51 !important;
    border-color: #69ff51 !important;
}

tbody.order-list tr:hover td a i {
    background: var(--clr2);
    color: var(--clr3);
}

thead th {
    font-size: 13px;
    font-weight: 500;
}

tbody.order-list th,
tbody.order-list tr {
    font-size: 13px;
    padding-left: 16px;
}

#drop-area {
    border: 1px dashed #ccc;
    border-radius: 10px;
    width: 292px;
    font-family: sans-serif;
    margin: auto;
    height: 100px;
    padding-top: 44px;
    position: relative;
    background-image: url(images/drop-image.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: top center;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
    text-align: center;
}

.button {
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

#fileElem {
    display: none;
}

div#drop-area label {
    padding: 0px 54px;
}

div#drop-area p {
    margin: 0px;
    color: var(--clr4);
}

textarea#EventDetail {
    resize: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}

textarea#EventDetail:focus {
    outline: none;
}

.visitweb:hover img {
    filter: brightness(100);
}

/*responsive menu start*/
div#responsive-menu-btn1 {
    display: none;
}
.responsive-dashboard-main {
    position: fixed;
    z-index: 9999;
    top: 0;
    background: var(--clr1);
    width: 100%;
    height: 100%;
    left: -105%;
    transition: 0.7s all;
}
.responsive-menu {width: 35%;margin: 0 auto;}

.responsive-menu ul li {
    padding: 10px 0px;
}

.responsive-menu ul li a {
    color: var(--clr2);
    font-size: 22px;
}

.responsive-menu ul li i {
    color: var(--clr2);
    padding-right: 16px;
}
div#responsive-menu-btn1 {
    float: right;
    padding-right: 28px;
}
section.dashboard1 {
    display: none;
}
/*responsive menu end*/